<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="angular-chart.css">
    <script src="chart.js"></script>
    <script src="angular.min.js"></script>
    <script src="angular-chart.js"></script>
    <script src="csCenter.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="RootCtrl">
<div class="container" ng-controller="MainCtrl">
    <form ng-submit="add(a)">
        <input type="text" ng-model="a.txt">
    </form>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p>등록된 개수 {{bookmarks.length}}</p>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="bookmark in bookmarks track by $index">
                    <a href="{{bookmark.href}}">{{bookmark.href}}</a>
                        <span class="pull-right">
                            <button class="btn btn-danger btn-xs"
                                    ng-click="delete($index)">삭제</button>
                        </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" ng-controller="SecondCtrl">
    <p class="well">{{server}}</p>
</div>
<div class="container" ng-controller="ChartCtrl">
    <canvas class="chart chart-doughnut"
            chart-data="dd"
            chart-legend="legend"
            chart-labels="labels"
            chart-series="series"
            ></canvas>
</div>
</body>
</html>